{% extends 'catalog/includes/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Смена пароля</h4>
                    </div>
                    <div class="card-body">
                        <p>Ваш низкий уровень intelligence не позволил вам записать пароль</p>
                        <p>В попытках решить данную ситуацию вы перешли по этой ссылке.</p>
                        <p>Так что прыгай на почту, лови рандомно сгенерированный (Плох)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}